/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.links {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    padding: 5px
}

.links a {
    color: rgb(0, 136, 204);
}

.links a:visited {
    color: rgb(0, 85, 128);
}

.log_table {
    width: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.log_table td, th {
    border-bottom: 1px dashed lightgray;
    padding: 5px;
}

td.error {
    color: #ac0000;
    background-color: linen;
}

input {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 5px;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 4px;
    border-style: solid;
    width: 30%;
}

#refresh {
    position: fixed;
    top: 10px;
    right: 30px;
    opacity: 0.45;
    background-color: white;
    border-radius: 2px
}

#flush {
    position: fixed;
    bottom: 0px;
    right: 30px;
    opacity: 0.1;
    background-color: white;
    border-radius: 2px
}

#more {
    margin-right: 20px
}
