<table class="log_table">
  <thead>
  <tr><th></th></tr>
  </thead>
  <tbody>
  <% @files.each do |line| %>
      <tr>
        <td <%= 'class=error' if line.downcase.include?('error') %>>
          <%= line %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
